{% extends 'blog/base.html' %}
{% block title %}Tag: {{ tag.name }}{% endblock %}
{% block content %}
<h1>Posts tagged “{{ tag.name }}”</h1>

{% if posts %}
  <ul class="list-group">
    {% for post in posts %}
      <li class="list-group-item">
        <a href="{% url 'blog:post_detail' post.pk %}"><strong>{{ post.title }}</strong></a>
        <p>{{ post.content|truncatewords:25 }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts with this tag yet.</p>
{% endif %}

<p><a href="{% url 'blog:post_list' %}" class="btn btn-secondary">Back to all posts</a></p>
{% endblock %}
